<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>typeName</key>
	<string>actor</string>
	<key>size</key>
	<string>100,100</string>
	<key>animations</key>
	<dict>
		<key>standby</key>
		<array>
			<string>frame1.png</string>
		</array>
		<key>walk</key>
		<array>
			<string>frame1.png</string>
			<string>frame2.png</string>
		</array>
		<key>jump</key>
		<array>
			<string>frame1.png</string>
			<string>frame2.png</string>
			<string>frame3.png</string>
		</array>
		<key>attack</key>
		<array>
			<string>frame1.png</string>
			<string>frame2.png</string>
			<string>frame3.png</string>
		</array>
	</dict>
</dict>
</plist>
