<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelName</key>
	<string>testLevel</string>
	<key>levelClass</key>
	<string>TestLevelClass</string>
	<key>terrainClass</key>
	<string>TestLevelTerrainClass</string>
	<key>actorList</key>
	<array>
		<dict>
			<key>actorName</key>
			<string>actor01</string>
			<key>actorClass</key>
			<string>TestActorClass</string>
			<key>initialization</key>
			<dict>
				<key>position</key>
				<string>0,0</string>
				<key>rotation</key>
				<string>0</string>
				<key>scale</key>
				<string>1,1</string>
			</dict>
		</dict>
		<dict>
			<key>actorName</key>
			<string>actor02</string>
			<key>actorClass</key>
			<string>TestActorClass</string>
			<key>initialization</key>
			<dict>
				<key>position</key>
				<string>100,0</string>
				<key>rotation</key>
				<string>0</string>
				<key>scale</key>
				<string>1,1</string>
			</dict>
		</dict>
		<dict>
			<key>actorName</key>
			<string>actor02</string>
			<key>actorClass</key>
			<string>TestActorClass</string>
			<key>initialization</key>
			<dict>
				<key>position</key>
				<string>200,0</string>
				<key>rotation</key>
				<string>0</string>
				<key>scale</key>
				<string>1,1</string>
			</dict>
		</dict>
	</array>
	<key>backgroundLayers</key>
	<array>
		<dict>
			<key>images</key>
			<array>
				<string>level0_0.png</string>
				<string>level0_1.png</string>
				<string>level0_2.png</string>
				<string>level0_3.png</string>
				<string>level0_4.png</string>
				<string>level0_5.png</string>
				<string>level0_6.png</string>
			</array>
			<key>imagesPositions</key>
			<array>
				<string>0,0</string>
				<string>400,0</string>
				<string>800,0</string>
				<string>400,0</string>
				<string>400,400</string>
				<string>800,400</string>
			</array>
			<key>parallaxRatio</key>
			<string>0,0</string>
		</dict>
	</array>
</dict>
</plist>
